<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% block javascripts %}
        <link rel="stylesheet "href="{{ asset('assets/css/style.css')}}"
    {%endblock %}
</head>

<body>

    <div class="loginForm">
        <div class="loginFromTitle">
            <h1>LogIn</h1>
        </div>

        <div class="error">
            <div id="error-message"></div>
        </div>

        <form action="/api/login_check" method="post">
            <input type="email" id="email" name="email" required placeholder="Email">
            <input type="password" id="password" name="password" required placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>

    {% block javascriptLogin %}
        <script src="{{ asset('assets/js/login.js')}}"
    {%endblock %}

</body>

</html>
